body {
    color: #932f6d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
}

#scores {
    width: 50%;
    text-align: left;
}

#time {
    width: 45%;
    text-align: right;
}

#timeRemaining {
    width: 5%;
    text-align: left;
}

#questions {
    width: 100%;
    text-align: center;
}

hr {
    width: 30%;
    text-align: center;
}

button, #submit {
    width: fit-content;
    background-color: #932f6d;
    color: aliceblue;
    border-radius: 10%;
}